@import "tailwindcss";
@import "@microviz/themes/base.css";

@layer base {
  button,
  summary,
  [role="button"] {
    @apply cursor-pointer;
  }

  button:disabled,
  [role="button"][aria-disabled="true"] {
    @apply cursor-not-allowed;
  }
}
